@charset "utf-8";
/* CSS Document */
/*main*/
.main{
	width:980px;
	margin:	70px auto 70px;
}

.main h3{
	font-size:26px;
	text-align:center;
	font-weight:normal;	
}

.main_pic1{
	width:100%;
	height:100px;	
	margin-top:20px;
}

.main_content{
	width:100%;
	margin-top:40px;	
}

.main_left{
	float:left;
	width:640px;	
}

.main_left h4{
	font-size:20px;
	line-height:30px;
	border-left:4px solid #F00;
	padding-left:18px;	
}

.main_left li{
	padding:20px 0;
	border-bottom:1px solid #eeeeee;
	vertical-align:top;	
}

.main_left li img{
	float:left;
	width:182px;
	height:130px;	
}

.left_text{
	float:left;
	width:436px;
	height:130px;
	position:relative;	
	margin-left:20px;
}

.left_text h5{
	font-size:18px;
	line-height:30px;
	position:absolute;
	left:0;
	top:0;	
	font-weight:normal;
}

.left_text h5 a{
	color:#000;	
}

.left_text h5:hover a{
	color:#F00;	
}

.left_text div{
	font-size:16px;
	line-height:20px;
	color:#999;
	position:absolute;
	right:0;
	bottom:0;	
}

.main_right{
	float:right;
	width:264px;
	border:1px solid #ededed;
	padding-top:12px;
	padding-left:36px;
	padding-bottom:12px;	
}

.main_right img{
	float:left;
	width:86px;
	height:86px;	
}

.main_right p{
	padding-top:17px;
	float:left;
	margin-left:12px;
	line-height:30px;
}

.main_right strong{
	font-size:16px;	
}

.main_right p span{
	font-size:12px;
	color:#999;	
}

.main_left .main_left_border{
	border:none;	
}

/*end main*/